<%= form_tag search_spotify_path, method: 'search_spotify' do |f| %>
    <div class="field">
        <%=  text_field_tag 'query', params[:query] %>
        <%=  button_tag(type: "submit") do %>
        Submit
        <% end %>

     </div>
<% end %>



