<h1>Suggestions#show</h1>
<h2>Search results:</h2>
<p><% @result.each do |track| %>
  <strong>artist: </strong>
  <% track.artists.each do |artist| %>
    <%= artist.name %>
  <% end %>
  <strong>track: </strong><%= track.name %>
  <br>
<% end %>
